@import '../../style/root.scss';

.input-date {
    width: 86px;
    &::-webkit-calendar-picker-indicator{
        display: none;
    }
    &::-webkit-datetime-edit {
        text-transform: uppercase;
    }
}